.hero-container {
  padding: 20px;
  background-color: #eaeded;
}

.best-seller-section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}

.image-scroll-row {
  display: flex;
  gap: 15px;
  overflow-x: auto; 
  padding-bottom: 10px;
}

.image-scroll-row::-webkit-scrollbar {
  height: 6px;
}

.image-scroll-row::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.scroll-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
}

.scroll-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}