.sub-nav {
  background: #232f3e;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  gap: 5px;
  overflow: hidden; 
  margin-bottom: 50px;
}

.nav-btn {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid transparent; 
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-btn:hover {
  border-color: white;
  border-radius: 2px;
}

.bold {
  font-weight: bold;
}